<div class="flex justify-between items-center border-b border-purple-700 pb-2 group hover:bg-purple-900 transition-all duration-300 rounded-lg p-2">
    <span class="text-pink-300 flex items-center">
        <span class="mr-2 text-2xl group-hover:animate-bounce"><%= icon %></span>
      <%= label %>:
    </span>
  <span class="text-white font-semibold group-hover:text-yellow-300 transition-colors duration-300"><%= value %></span>
</div>